.port-navbar.port-default {
  width: 100%;
  z-index: 15;
  padding: 40px;
}
.port-navbar.port-default .port-navbar-brand {
  color: white;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}
.port-navbar.port-default .port-navbar-item {
  margin-left: 10px;
  margin-right: 10px;
}
.port-navbar.port-default .port-navbar-link {
  color: white;
  font-weight: bold;
  letter-spacing: 0.8px;
  font-size: 18px;
  text-transform: uppercase;
}
.port-navbar.port-default .port-navbar-link.active {
  color: #dba919;
}
.port-navbar.port-default .port-navbar-link:hover,
.port-navbar.port-default .port-navbar-link:focus {
  color: #dba919;
}
