@import './shared/_fonts.css';

/* Components */
@import './components/_header.css';

/* Pages */
@import './_index.css';

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', 'Helvetica';
}

.absolute {
  position: absolute;
}

.clickable {
  cursor: pointer;
}

.base-page {
  padding-top: 150px;
  color: white;
}

.self-typed {
  font-size: 31px;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
}
